name: Release Drafter

# on:
#   push:
#     branches:
#       - main

on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]

jobs:
  update_release_draft:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
